# Copy this to .env and fill in your values
DAGSHUB_TOKEN=
DAGSHUB_USERNAME=
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
RAW_DATA_DIR=data/raw/mvtec_ad
PROCESSED_DATA_DIR=data/processed
MODEL_CATEGORY=bottle
DEVICE=cuda